@import '../../base-scss/mixins';
@import '../../base-scss/variables';

.Articles {
  height: $topSectionHeight;
  width: 100%;
  max-height: $topSectionHeight;
  margin-bottom: $sectionMargin;
  overflow-y: scroll;
  padding: 0;
}