@import '../../base-scss/mixins';
@import '../../base-scss/variables';

.Tweet {
  width: 100%;
//   height: 8vh;
  flex-direction: row;
//   align-items: center;
  padding-bottom: 20px;
  border: none;
  padding-right: 5%
  // background-color: blue;
}

.tweet-body {
  width: 75%;
  margin: 0;
  padding: 0;
  text-align: left;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: space-between;
  font-size: 14px;
}

.tweet-img {
  width: 15%;
  height: 100%;
  padding-right: 5%
}