@import '../../base-scss/mixins';
@import '../../base-scss/variables';

.Twitter {
  width: 100%;
  height: $bottomSectionHeight;
  max-height: $bottomSectionHeight;
  margin-bottom: $sectionMargin;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}