@import './variables';
@import './mixins';

.App {
  text-align: center;
  font-family: $globalFontFamily;
  height: 90vh;
  margin: 0;
  padding: 0;
  border: 0;
}

.Header {
  height: 10vh;
  margin: 0;
}

.Data, .Visuals, .Media {
  height: $componentHeight;
  margin: 0;
}