@import './variables';
@import './mixins';

.App {
  text-align: center;
  font-family: $globalFontFamily;
}

.Header {
  background-color: rgba(0, 0, 255, 0.527);
}



.Visuals {
  background-color: rgba(0, 128, 0, 0.534);
}

.Media {
  background-color: rgba(128, 0, 128, 0.541);
}