@import './mixins';
@import './variables';

// .USData {
//   position: relative;
// }

.Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 9vh;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.LoadingBox {
  height: 12vh;
  position: absolute;
  top: 15%;
  animation: rotate 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.LoadingText {
  height: 12vh;
  z-index: 1000;
  position: absolute;
  top: 15%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(2);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  75% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}