@import '../../base-scss/mixins';
@import '../../base-scss/variables';

.Graph {
  height: $bottomSectionHeight;
  margin-bottom: $sectionMargin;
}

.GraphTab {
  height: 38vh;
  width: 100%;
  min-width: 0;
  min-height: 0;
  font-size: 14px;
}

.GraphTabs {
  font-size: 12px;
}