@import '../../base-scss/mixins';
@import '../../base-scss/variables';

.Map {
  height: $topSectionHeight;
  width: 100%;
  margin-bottom: $sectionMargin;
  border: none;
}
.legend{
  font-family: $globalFontFamily;
  background-color: #fff;
  border-radius: 10px;  
  box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.78);
  font-size: 12px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 6px;
  margin: 0 0 0 31px;
  display: flex;
  flex-direction: column;
}

.legend h4 {
  margin: 0 0 5px;
  font-size: 16px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;

}
.map-overlay{
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 46vh;
  font-family: $globalFontFamily;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 36px 6px;
  box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.78);

  h5 {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}