@import '../../base-scss/mixins';
@import '../../base-scss/variables';

.Map {
  height: $topSectionHeight;
  width: 100%;
  margin-bottom: $sectionMargin;
}
.legend{
  font-family: $globalFontFamily;
  background-color: #fff;
  border-radius: 10px;  
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  margin: 0 0 0 31px;
  display: flex;
  flex-direction: column;
}

.legend h4 {
  margin: 0 0 5px;
  font-size: 16px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;

}
.map-overlay{
  background-color: salmon;
  position: relative;
  display: flex;
  // top: 308px;
  // bottom: 0;
  font-family: $globalFontFamily;
  border-radius: 10px;
  padding: 10px;
}